<section class="stox-card">
    <h1 class="text-center stox-title">Holding</h1>
    <h2 class="text-center stox-sub-title"> As on Date 06-12-2023</h2>
    <ng-container>
        <form class="row g-3 mb-3" [formGroup]="holdingGroup" (ngSubmit)="save()">
            <div class="col-md-6">
                <label for="inputPassword4" class="form-label">As On Date</label>
                <input type="date" class="form-control" id="to" [formControl]="f.AsOnDate">
            </div>
            <div class="col-md-6">
                <label for="inputPassword4" class="form-label">Rate Date</label>
                <input type="date" class="form-control" id="to" [formControl]="f.RateDate">
            </div>
            <div class="col-md-6">
                <label for="inputPassword4" class="form-label">Scrip Code</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" aria-label="Recipient's username"
                        aria-describedby="button-addon2" [formControl]="f.ScripCode">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <!-- <div class="col-md-6 mt-0">
                <label for="inputState" class="form-label">Variance Type</label>
                <select id="inputState" class="form-select">
                    <option selected value="VARELM">VARELM</option>
                    <option value="MEMBER">MEMBER</option>
                    <option value="MEMVAR">MEMVAR</option>
                    <option value="MEMELM">MEMELM</option>
                    <option value="VARELMADH">VARELMADH</option>
                    <option value="VAR">VAR</option>
                </select>
            </div>
            <div class="col-md-6 mt-0">
                <label for="inputState" class="form-label">Excel Format</label>
                <select id="inputState" class="form-select">
                    <option selected value="CLIENT">CLIENT</option>
                    <option value="PLANE">PLANE</option>
                </select>
            </div> -->
            <div class="col-12 text-end">
                <button type="submit" class="btn btn-primary">Run</button>
            </div>
        </form>
    </ng-container>

    <ng-container>
        <!-- <div class="text-end">
            <input type="submit" value=""
                class="fa fa-file - excel - o btn btn-default btn - block text-primary me-3 stox-btn btn-2">
            <input type="submit" value=""
                class="fa fa-file-pdf-o btn  btn-default btn-block text-danger stox-btn btn-2">
        </div> -->

        <div class="table-responsive mt-2">
            <table class="table table-hover table-bordered">
                <thead class="table-dark">
                    <tr role="row">
                        <th rowspan="2" colspan="1">Symbol</th>
                        <th rowspan="2" colspan="1">ISIN</th>
                        <th colspan="4" rowspan="1">Stocks</th>
                        <th rowspan="2" colspan="1">Price</th>
                        <th rowspan="2" colspan="1">VAR %</th>
                        <th rowspan="2" colspan="1">Approved Flag</th>
                        <th rowspan="2" colspan="1">Category</th>
                        <th rowspan="2" colspan="1"> Margin Pledge Val</th>
                        <th colspan="2" rowspan="1">Valuation</th>
                        <th rowspan="2" colspan="1"> Buy Avg </th>
                        <th rowspan="2" colspan="1">Notional PNL</th>
                    </tr>
                    <tr role="row">
                        <th rowspan="1" colspan="1">Beneficiary</th>
                        <th rowspan="1" colspan="1">Margin Pledge</th>
                        <th rowspan="1" colspan="1">DP</th>
                        <th rowspan="1" colspan="1">Total</th>
                        <th rowspan="1" colspan="1">Holding Value</th>
                        <th rowspan="1" colspan="1">Value After VAR</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>AIAENG</td>
                        <td>INE212H01026</td>
                        <td>0</td>
                        <td>0 </td>
                        <td>68 </td>
                        <td>68.000</td>
                        <td>3678.85</td>
                        <td>10.60</td>
                        <td>Y</td>
                        <td>NON-CASH</td>
                        <td>0.00</td>
                        <td>250161.80</td>
                        <td>223644.65</td>
                        <td>3606.30</td>
                        <td>4933.40</td>
                    </tr>
                </tbody>
                <tfoot class="table-dark">
                    <tr>
                        <td colspan="7" rowspan="1">&nbsp;</td>
                        <td colspan="3" rowspan="1">Total</td>
                        <td rowspan="1" colspan="1">0.00</td>
                        <td rowspan="1" colspan="1">5536133.05</td>
                        <td rowspan="1" colspan="1">4753886.03</td>
                        <td rowspan="1" colspan="1">&nbsp;</td>
                        <td rowspan="1" colspan="1">519754.65</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </ng-container>
</section>