<div class="container">
    <div class="myapp-tab stox-card">
        <div class="col-xs-3">

        </div>
        <div class="col-xs-9 myapp-right-content">
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="ClientInfo">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Apps</a></li>
                            <li class="breadcrumb-item"><a href="my-app.html">My Apps</a></li>
                            <li class="breadcrumb-item active" aria-current="page">New Apps</li>
                        </ol>
                    </nav>
                    <div class="row">
                        <div class="col-md-9">
                            <h2>My apps</h2>
                            <p>Fill the details below to generate API key and API secret for your app at free of
                                cost.</p>
                        </div>
                        <div class="col-md-3 text-right">
                            <a class="btn btn-primary" (click)="saveApp(creatAppForm.form)">Save App</a>
                        </div>
                    </div>
                    <form #creatAppForm="ngForm">
                        <div class="form-group">
                            <label>App Name</label>
                            <input type="text" name="app_name" [(ngModel)]="formData.app_name"  class="form-control" id="" placeholder="Santoo's App 1" required>
                        </div>
                        <div class="form-group">
                            <label>Redirect URL</label>
                            <input type="text" name="redirect_url" [(ngModel)]="formData.redirect_url" class="form-control" id="" placeholder="https://example.com">
                        </div>
                        <div class="form-group">
                            <label>Post back URL</label>
                            <input type="text" name="post_back_url" [(ngModel)]="formData.post_back_url" class="form-control" id="" placeholder="https://example.com">
                        </div>
                        <div class="form-group">
                            <label>Description (Optianal)</label>
                            <textarea class="form-control" name="description" [(ngModel)]="formData.description"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="checkbox" name="isAccept" [(ngModel)]="formData.isAccept" required>
                            <label>&nbsp; I accept the <a href="javascript:;">terms and conditions</a></label>
                        </div>
                        <p>Are you looking for strategic partnership for your business?</p>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>