<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " routerLink="/home">
                <i class="bi bi-grid"></i>
                <span class="menu-name">Dashboard</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#nsdl-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-file-earmark"></i>
                <span class="menu-name"> Portfolio </span>
                <i class="down-arrow bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="nsdl-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a routerLinkActive='active' routerLink="/home/client-profile">
                        <i class="bi bi-circle"></i><span>Position</span>
                    </a>
                </li>
                <li>
                    <a routerLinkActive='active' routerLink="/home/transaction">
                        <i class="bi bi-circle"></i><span>Holding</span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="nav-item">
            <a id="report" class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-journal-text"></i>
                <span class="menu-name">Reports</span>
                <i class="down-arrow bi bi-chevron-down ms-auto"></i>
            </a>
            <div id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <ul class="p-0">
                    <li>
                        <a routerLinkActive='active' routerLink="/home/bill-summary-equity">
                            <i class="bi bi-circle"></i><span>Ledger</span>
                        </a>
                    </li>
                    <li>
                        <a routerLinkActive='active' routerLink="/home/equity-trade-confirmation">
                            <i class="bi bi-circle"></i><span>Position</span>
                        </a>
                    </li>
                    <li>
                        <a routerLinkActive='active' routerLink="/home/equity-transaction-ledger">
                            <i class="bi bi-circle"></i><span>Holding</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#request-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-file-earmark"></i>
                <span class="menu-name"> Tender Offer </span>
                <i class="down-arrow bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="request-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a routerLinkActive='active' routerLink="/home/ACH-request">
                        <i class="bi bi-circle"></i><span>IPO</span>
                    </a>
                </li>
                <li>
                    <a routerLinkActive='active' routerLink="/home/buy-back">
                        <i class="bi bi-circle"></i><span>Buy Back</span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-bar-chart"></i>
                <span class="menu-name">Funds</span>
                <i class="down-arrow bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a routerLinkActive='active' routerLink="/home/derivative-trade-report">
                        <i class="bi bi-circle"></i><span>Add Funds</span>
                    </a>
                </li>
                <li>
                    <a routerLinkActive='active' routerLink="/home/net-position-derivative">
                        <i class="bi bi-circle"></i><span>Withdrawal</span>
                    </a>
                </li>
                <li>
                    <a routerLinkActive='active' routerLink="/home/equity-trade-report">
                        <i class="bi bi-circle"></i><span>Ledger</span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" routerLinkActive='active' routerLink="/home/long-short">
                <i class="bi bi-gem"></i>
                <span class="menu-name">P&L Report</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#download-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-dash-circle"></i>
                <span class="menu-name"> Download </span>
                <i class="down-arrow bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="download-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a routerLinkActive='active' routerLink="/home/contract-note">
                        <i class="bi bi-circle"></i><span>Contract Note</span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" routerLinkActive='active' routerLink="/home/profile">
                <i class="bi bi-person"></i>
                <span class="menu-name">Profile</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="#">
                <i class="bi bi-question-circle"></i>
                <span class="menu-name">Supports</span>
            </a>
        </li>

    </ul>

</aside><!-- End Sidebar-->