<div class="login-bg" style="margin-top: 300px">
    <div class="row">
        <div class="col-md-12">
            <div class="login-transform-middle text-center">

                <img src="../../assets/images/my-stocks-logo.png" style="width:250px;"><br><br>
                <section class="login_form">
                    <div class="row no-gutters">
                        <div class="col-md-7">
                            <div class="form">
                                <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
                                    <h2> LOGIN </h2>
                                    <div class="input-box">
                                        <label for="username">Username</label>
                                        <input type="text" [ngClass]="{'border-red': uname.touched && uname.invalid}"
                                            id="username" #uname="ngModel" [(ngModel)]="username" name="username"
                                            placeholder="Username" required />
                                    </div>
                                    <div class="input-box">
                                        <a href="javascript:;" class="forgot-password" id="">I forgot my password</a>
                                        <label for="password">Password</label>
                                        <input type="password" [ngClass]="{'border-red': pass.touched && pass.invalid}"
                                            #pass="ngModel" [(ngModel)]="password" id="password" name="password"
                                            placeholder="Password" required />
                                    </div>
                                    <input type="submit" value="Login" class="login-btn" />
                                </form>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <img src="../../assets/images/login-bg-2.png">
                        </div>
                    </div>

                </section>
            </div>
        </div>
    </div>
</div>