 
  th,
  td {
    font-size: 13px;
  }
  
  .table-responsive {
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #aab7cf transparent;
  }
  
  @media (max-width: 1199px) {
    .table-responsive {
      left: -260px;
    }
  }
  
  .table-responsive::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #fff;
  }
  
  .table-responsive::-webkit-scrollbar-thumb {
    background-color: #aab7cf;
  }