.header-nav>ul>li {
    white-space: nowrap;
    padding: 10px 0 10px 28px;
}

.header-nav>ul>li a {
    color: #012970;
    width: 100%;
}

.side-border {
    border-left: 1px solid #6f85b9;
    padding-left: 13px;
}