<section class="stox-card">
    <h1 class="text-center stox-title">Financial Ledger</h1>
    <h2 class="text-center stox-sub-title"> From 01-04-2023 To 31-03-2024</h2>
    <ng-container>
        <form class="row g-3 mb-3" [formGroup]="financialGroup" (ngSubmit)="save()">
            <div class="col-md-3">
                <label for="inputPassword4" class="form-label">From Date</label>
                <input type="date" class="form-control" id="from" [formControl]="f.FromDate">
            </div>
            <div class="col-md-3">
                <label for="inputPassword4" class="form-label">To Date</label>
                <input type="date" class="form-control" id="to" [formControl]="f.ToDate">
            </div>
            <div class="col-md-3">
                <label for="inputState" class="form-label">Exchange</label>
                <select id="inputState" class="form-select" [formControl]="f.Exchange">
                    <option selected value="ALL">ALL</option>
                    <option value="NSE">NSE</option>
                    <option value="BSE">BSE</option>
                    <option value="MCX">MCX</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="inputState" class="form-label">Segment</label>
                <select class="form-select" id="Segment" name="Segment" [formControl]="f.Segment">
                    <option selected="selected" value="ALL">ALL</option>
                    <option value="CAP">CAP</option>
                    <option value="COM">COM</option>
                    <option value="CUR">CUR</option>
                    <option value="FNO">FNO</option>
                    <option value="SLB">SLB</option>
                </select>
            </div>
            <!-- <div class="col-md-6">
                <label for="inputState" class="form-label">Product</label>
                <select class="form-control  input-sm" id="Product" name="Product" [formControl]="f.Product">
                    <option selected="selected" value="">ALL</option>
                    <option value="DEF">DEF</option>
                    <option value="MTF">MTF</option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="inputState" class="form-label">Filter</label>
                <ng-multiselect-dropdown  [formControl]="f.FinancialFilter"  [placeholder]="''" [settings]="dropdownSettings"
                    [data]="dropdownList" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                </ng-multiselect-dropdown>
            </div> -->
            <div class="col-12 text-end">
                <button type="submit" class="btn btn-primary">Run</button>
            </div>
        </form>
    </ng-container>

    <ng-container *ngIf="FinancialList.length > 0">
        <div class="text-end" >
            <input type="submit" value="" (click)="downloadCsv()"
                class="fa fa-file - excel - o btn btn-default btn - block text-primary me-3 stox-btn btn-2">
            <input type="submit" value="" (click)="downloadAsPDF()"
                class="fa fa-file-pdf-o btn  btn-default btn-block text-danger stox-btn btn-2">
        </div>

        <div class="table-responsive mt-2" id="pdfTable" #pdfTable>
            <table class="table table-hover table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th>Financial Date</th>
                        <th>Trade Date</th>
                        <th>Exchange</th>
                        <th>Segment</th>
                        <th>Narration</th>
                        <th>BillNo</th>
                        <th>Reference No</th>
                        <th>Debit</th>
                        <th>Credit</th>
                        <th>Running Balance</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of FinancialList" class="whitebg">
                        <td>{{row.ValueDate | date:'dd/MM/yyy'}}</td>
                        <td>{{row.VoucherDate | date:'dd/MM/yyy' }}</td>
                        <td>{{row.Exchange}}</td>
                        <td>{{row.Segment}}</td>
                        <td>{{row.Narration}}</td>
                        <td>{{row.BillNo}}</td>
                        <td>{{row.ReferenceNo}}</td>
                        <td>{{row.Debit | number : '1.2-2'}}</td>
                        <td>{{row.Credit | number : '1.2-2'}}</td>
                        <td>{{row.RunningBalance | number : '1.2-2'}}</td>
                    </tr>
                </tbody>
                <tfoot *ngIf="FinancialList.length > 0">
                    <tr>
                        <td colspan="7" class="">Total</td>
                        <td>{{TotalDebit | number : '1.2-2'}}</td>
                        <td>{{TotalCredit | number : '1.2-2'}}</td>
                        <td id="RunnBalance">{{TotaRunningBalance | number : '1.2-2'}}</td>
                    </tr>
                    <tr>
                        <td colspan="8" class="greybg">&nbsp;</td>
                        <td>Unrelease Voucher</td>
                        <td>{{TotalUnreleaseVoucher | number : '1.2-2'}}</td>
                    </tr>
                    <tr>
                        <td colspan="8" class="pinkbg">&nbsp;</td>
                        <td>UnReco Voucher</td>
                        <td>{{TotalUnRecoVoucher | number : '1.2-2'}}</td>
                    </tr>
                    <tr>
                        <td colspan="8" class="">&nbsp;</td>
                        <td>Clear Balance</td>
                        <td id="UnReco">{{TotalClearBalance | number : '1.2-2'}}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </ng-container>
    <ng-container *ngIf="FinancialList && !FinancialList.length">
        <div class="text-center">
            <h5>Data Not Found</h5>
        </div>
    </ng-container>

</section>