<section class="stox-card">
    <h1 class="text-center stox-title">Short Cash Colletral</h1>
    <!-- <h2 class="text-center stox-sub-title"> From 01-12-2023 To 31-03-2024</h2> -->
    <ng-container>
        <form class="row g-3 mb-3">
            <div class="col-md-6">
                <label for="inputPassword4" class="form-label">Report Date</label>
                <input type="date" class="form-control" id="report_date">
            </div>
            <div class="col-6 text-start">
                <button type="submit" class="btn btn-primary" style="margin-top: 31px;">Run</button>
            </div>
        </form>
    </ng-container>

    <ng-container>
        <div class="text-end">
            <input type="submit" value=""
                class="fa fa-file - excel - o btn btn-default btn - block text-primary me-3 stox-btn btn-2">
        </div>

        <div class="table-responsive mt-2">
            <table class="table table-hover table-bordered">
                <thead class="table-dark">
                    <tr role="row">
                        <th>Code</th>
                        <th>Name</th>
                        <th>Trade Date</th>
                        <th>Margin</th>
                        <th>Margin Per.</th>
                        <th>Min Cash Margin</th>
                        <th>Clear Balance</th>
                        <th>Pledge Cash</th>
                        <th>Total Cash Collaterals</th>
                        <th>Cash-Collaterals Short.</th>
                        <th>Interest Amt.</th>
                        <th>Interest Per.</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="12" class="text-center">No data available in table</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </ng-container>

</section>