<section class="stox-card">
    <h1 class="text-center stox-title">KYC Modification Request Letter</h1>
    <ng-container>
        <form class="row g-3">
            <div class="col-md-6">
                <label for="inputEmail4" class="form-label">From Date</label>
                <input type="date" class="form-control" id="From">
            </div>
            <div class="col-md-6">
                <label for="inputPassword4" class="form-label">To Date</label>
                <input type="date" class="form-control" id="to">
            </div>
            <div class="col-12 text-center">
                <input type="submit" value=""
                    class="fa fa-file-pdf-o btn  btn-default btn-block text-danger stox-btn btn-2">
            </div>
        </form>
    </ng-container>
</section>