<section class="stox-card">
    <h1 class="text-center stox-title">Net Position Derivative</h1>
    <h2 class="text-center stox-sub-title"> As on Date 06-12-2023</h2>
    <ng-container>
        <form class="row g-3 mb-3" [formGroup]="netPositionGroup" (ngSubmit)="save()">
            <div class="col-md-3">
                <label for="inputState" class="form-label">Exchange</label>
                <select id="inputState" class="form-select" [formControl]="f.Exchange">
                    <option selected value="NSE">NSE</option>
                    <option value="BSE">BSE</option>
                    <option value="MCX">MCX</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="inputState" class="form-label">Segment</label>
                <select id="inputState" class="form-select" [formControl]="f.Segment">
                    <option value="COM">COM</option>
                    <option value="CUR">CUR</option>
                    <option selected value="FNO">FNO</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="AsOnDate" class="form-label">As On Date</label>
                <input type="date" class="form-control" id="AsOnDate" [formControl]="f.AsOnDate">
            </div>
            <div class="col-md-3">
                <label for="Instrument" class="form-label">Instrument</label>
                <select class="form-select" id="Instrument" name="Instrument" [formControl]="f.Instrument">
                    <option selected="selected" value="ALL">ALL</option>
                    <option value="FUTURE">FUTURE</option>
                    <option value="OPTION">OPTION</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="Symbol" class="form-label">Symbol</label>
                <input class="form-control" id="Symbol" name="Symbol" type="text" [formControl]="f.Symbol">
            </div>
            <div class="col-md-3">
                <label for="ExpiryDate" class="form-label">Expiry Date</label>
                <input type="date" class="form-control" id="ExpiryDate" [formControl]="f.ExpiryDate">
            </div>
            <div class="col-md-3">
                <label for="StrikePrice" class="form-label">Strike Price</label>
                <input class="form-control"id="StrikePrice" name="StrikePrice" type="text" [formControl]="f.StrikePrice">
            </div>
            <div class="col-md-3">
                <label for="OptionType" class="form-label">Option type</label>
                <select class="form-select" id="OptionType" name="OptionType" [formControl]="f.OptionType">
                    <option selected="selected" value="ALL">ALL</option>
                    <option value="FF">FF</option>
                    <option value="CE">CE</option>
                    <option value="PE">PE</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="IgnoreZeroPosition" class="form-label">Ignore Zero Position</label>
                &nbsp;&nbsp;&nbsp;<input type="checkbox" name="IgnoreZeroPosition">
            </div>
            <div class="col-md-3">
                <label for="QtyInLot" class="form-label">Quantity In Lot</label>
                &nbsp;&nbsp;&nbsp;<input name="QtyInLot" id="QtyInLot" type="checkbox">
            </div>
            <div class="col-12 text-end">
                <button type="submit" class="btn btn-primary">Run</button>
            </div>
        </form>
    </ng-container>

    <ng-container>
        <div class="text-end">
            <input type="submit" value=""
                class="fa fa-file - excel - o btn btn-default btn - block text-primary me-3 stox-btn btn-2">
            <input type="submit" value=""
                class="fa fa-file-pdf-o btn  btn-default btn-block text-danger stox-btn btn-2">
        </div>

        <div class="table-responsive mt-2">
            <table class="table table-hover table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Client Code</th>
                        <th scope="col">Client Name</th>
                        <th scope="col">Trade Date</th>
                        <th scope="col">Settlement No.</th>
                        <th scope="col">Settlement Type</th>
                        <th scope="col">Bill No</th>
                        <th scope="col">Bill Date</th>
                        <th scope="col">Bill Amount</th>
                        <th scope="col">Gross Value</th>
                        <th scope="col">Total Expenses</th>
                        <th scope="col">Brokerage</th>
                        <th scope="col">Clearing Charges/Auct.</th>
                        <th scope="col">Exchange Charges</th>
                        <th scope="col">SEBI Charges</th>
                        <th scope="col">Transaction Charges</th>
                        <th scope="col">STT Charges</th>
                        <th scope="col">Stamp Duty</th>
                        <th scope="col">Demat Charges</th>
                        <th scope="col">IPF Charge</th>
                        <th scope="col">GST</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="col">245</th>
                        <th scope="col">Test</th>
                        <th scope="col">04/12/2023</th>
                        <th scope="col">095434</th>
                        <th scope="col">Cased</th>
                        <th scope="col">5624789</th>
                        <th scope="col">3/12/2023</th>
                        <th scope="col">$550</th>
                        <th scope="col">$500</th>
                        <th scope="col">100%</th>
                        <th scope="col">10%</th>
                        <th scope="col">Pending</th>
                        <th scope="col">0</th>
                        <th scope="col">0</th>
                        <th scope="col">0.2%</th>
                        <th scope="col">0.00%</th>
                        <th scope="col">one</th>
                        <th scope="col">2%</th>
                        <th scope="col">10%</th>
                        <th scope="col">0.5%</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </ng-container>

</section>